name = "UKSF Task Force Alpha - Template"
author = "UKSF Taskforce Alpha Team"
prefix = "UKSFTA-Template"
mainprefix = "z"

keyname = "UKSFTA"
signame = "UKSFTA"

[version]
path = "addons/main/script_version.hpp"

[files]
include = [
    "addons/*.pbo",
    "addons/*.bisign",
    "keys/*.bikey",
    "mod.cpp",
    "meta.cpp",
    "LICENSE",
    "README.md"
]

[archive]
directory = "releases"

workshop_id = "INSERT_ID_HERE"
workshop_tags = ["Mod", "Addon"]
